<!-- Carousel Area -->
<section>
        <div class="row">
            <div class="cols-md-12 cols-sm-12 cols-xs-12">
                <div class="banner">
                     <div class="centered">
                         A reader lives a thousand lives before he dies . . .<br> The man who never reads lives only one
                         <br><a href="/pages/addarticle" class="btn btn-outline-light">Add an article</a>
                     </div>
                </div>
            </div>
        </div>
</section>
{{!-- 
<!-- Recommendations Area -->
<section>
    <div class="container">
        <div class="row m-1">
            <h1>Recommendations..</h1>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="card d-flex flex-row">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the
                            bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="card d-flex flex-row">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the
                            bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- Recents Area -->
<section>
    <div class="container">
        <div class="row m-1">
            <h1>Recents..</h1>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="card d-flex flex-row">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the
                            bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="card d-flex flex-row">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the
                            bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section> --}}

<!-- All posts Area -->
<section>
    <div class="container mt-5">

        {{#each blogs}}
        <div class="card mt-2">
            <div class="row no-gutters ">
                <div class="col-auto d-xs-none d-sm-none d-md-block">
                    <img src="blog-images/{{this._id}}.jpg" class="img-fluid" alt="" style="height:25rem;width:40rem;object-fit:cover;">
                </div>

                <div class="col">
                    <div class="card-block m-4">
                        <span class="ms-auto">27- 10- 2021</span>
                        <span><a href=""><i class="bi bi-heart float-end ps-3"></i></a></span>
                        
                        <span><a href=""><i class="bi bi-three-dots float-end" onclick="addlike({{this._id}})"></i></a></span>

                        <a href="/view-blog/{{this._id}}"><h1 class="card-title">{{this.title}}
                        </h1></a>
                        <p class="card-text">{{this.caption}}...
                            <a href="/view-blog/{{this._id}}">View more</a>
                        </p>

                        <hr>
                        <p class="d-inline">Likes {{this.likes}}</p>
                        <p class="d-inline">Comments {{this.comments.length}}</p>
                    </div>
                </div>
            </div>
        </div>

        {{/each}}

        <a href="/view-all" class="btn btn-outline-dark m-3">View more..</a>
    </div>



</section>

