<section>
    <div class="container mt-3">
        <div class="card mt-3">
            <div class="row">
                <div class="cols-md-12 cols-sm-12 cols-xs-12">
                    <img src="/blog-images/{{blog._id}}.jpg" class="img-fluid" alt="" style="height:35rem;width:100%;object-fit:cover;">
                </div>

                <div class="col">
                    
                    <div class="card-block m-4">
                        <span class="ms-auto">{{t}}</span>
                        <span>
                        <a><i class="bi bi-heart float-end ps-3" onclick="addLike('{{blog._id}}')"><span id="{{blog._id}}">{{blog.likes}}</span> </i></a>
                        <i class="bi bi-chat float-end ps-3"> <span id="{{blog._id}}">{{blog.comments.length}}</span> </i>
                       

                        <h1 class="card-title p-5">{{blog.title}}</h1>
                        <div class="content-div"><p class="card-text m-3">{{blog.blog}}</p></div>
                    

                        <hr>
                        

                        <form action="#" id="comment-form" method="POST" enctype="application/x-www-form-urlencoded">
                        <div class="form-group">
                        <input type="text" class="form-control" name="comment" id="comment" placeholder="add a comment..." onclick="doLogin()">
                        <input type="text" class="form-control" name="blogId" id="blogId" value="{{blog._id}}" hidden>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Post</button>

                        <hr>
                         {{#each blog.comments}}
                        <div>
                            <span>{{this.user}} : {{this.comment}} </span>
                        </div>
                        <hr>    
                        {{/each}}
                        
                        
                    </div>
    
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $('#comment-form').submit((e)=>{
        e.preventDefault()
        $.ajax({
        url:'/pages/add-comment',
        method:'post',
        data:$('#comment-form').serialize(),
        success:(response)=>{
            if (response.status){
                location.reload()
            }
        }
    })
    })
</script>
